@font-face {
    font-family: minecraft;
    src: url(./Minecraft.ttf);
}

* {
    letter-spacing: 0.2rem;
    text-align: center;
    background-color: #181818;
    font-family: "minecraft", sans-serif;
}
h1 {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0px;
    margin-top: 15px;
    font-weight: 300;
}
canvas {
    border: solid 2px rgba(255, 255, 255, 0.6);
}
.buttons-div > button {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    font-weight: 300;
    outline: none;
    cursor: pointer;
}
.buttons-div > button:hover {
    background-color: #ff756b;
    color: rgba(110, 110, 110, 0.6);
    outline: solid 2px rgba(255, 255, 255, 0.6);
}
